<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <xi:include href="layout.html" />
  <head>
    <title>Burn Down Charts</title>
  </head>
  <body>
    <h1>
      Burn Down Charts
    </h1>
    <div class="box-info">
      Burn down charts will only be generated for the following milestones, as 
      they have both a start and due date:
      <ul>
        <py:for each="milestone in milestones">
            <li><a href="${req.href.milestone(milestone)}"> ${milestone}</a></li>
        </py:for>
      </ul>
    </div>
  </body>
</html>