<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <xi:include href="layout.html" />
  <head>
    <title>Burn Down Chart Admin Page</title>
  </head>
  <body>
    <h1>
      Burn Down Charts Admin Page
    </h1>
    <div class="box-info">
      Configure burndown effort unit (hours vs story points) and work days. 
    </div>
  </body>
</html>