<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <xi:include href="layout.html" />
  <head>
    <title>Administration: Burndown Charts</title>
  </head>
  <body>
    <h1>
      Manage Burndown Charts
    </h1>
    <div class="box-primary color-none">
        <p>Configure these options to modify the way data is displayed 
        on burndown charts:</p>
      <form id="burndown" action="" method="post">
        <fieldset>
          <div>
            <label for="units" class="fixed-width-label">Units of Effort</label>
            <select name="units" form="burndown">
              <py:for each="unit in unit_options">
                <py:choose test="">
                  <py:when test="unit[0] == current_unit_value">
                    <option selected="selected" value="${unit[0]}">${unit[1]}</option>
                  </py:when>
                  <py:otherwise>
                    <option value="${unit[0]}">${unit[1]}</option>
                  </py:otherwise>
                </py:choose>
              </py:for>
            </select>
          </div>
          <div>
            <label for="days" class="fixed-width-label">Working Days</label>
            <select name="days" form="burndown">
              <py:for each="day in day_options">
                <py:choose test="">
                  <py:when test="day[0] == current_day_value">
                    <option selected="selected" value="${day[0]}">${day[1]}</option>
                  </py:when>
                  <py:otherwise>
                    <option value="${day[0]}">${day[1]}</option>
                  </py:otherwise>
                </py:choose>
              </py:for>
            </select>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-mini btn-primary" name="burndown_submit" value="Save">
          <i class="icon-hdd icon-white"></i> Save
        </button>
      </form>
    </div>
    <div class="box-info color-none">
      <p>Burn down charts will only be generated for the following milestones, as 
      they have both a start and due date:</p>
      <ul>
        <py:for each="milestone in applicable_milestones">
            <li><a href="${req.href.milestone(milestone)}"> ${milestone}</a></li>
        </py:for>
      </ul>
    </div>
  </body>
</html>